/* CSS for smaller screens */
@media only screen and (max-width: 767px) {
    * {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		-outline: 0;
		font-family: Roboto, sans-serif, arial;
	}
	
	html, body {
		font-size: 14px;
		font-weight: 400;
		background: #000000;
		color: #fff;
	}
    .btn.btn2 {
        display: inline-block
    }
    
    .btn.btn3 {
        background: #080808;
        margin-top: 30px;
        transition: background 0.5;
    
    }
    
    .btn.btn3:hover {
        background: #ff004f;
    }
    
    .contact-right form {
        width: 100%;
    }
    
    form input,
    form textarea {
        width: 100%;
        border: 0;
        outline: none;
        background: #262626;
        padding: 15px;
        margin: 15px 0;
        color: #fff;
        font-size: 18px;
        border-radius: 6px;
    }
    .btn {
        display: block;
        margin: 50px auto;
        width: fit-content;
        border: 1px solid #ff004f;
        padding: 14px 50px;
        border-radius: 6px;
        color: #fff;
        text-decoration: none;
        transition: background 0.75s;
    }
    
    .btn:hover {
        background: #ff004f;
    }
    .container {
        width: 100%;
        max-width: none;
        margin: 0;
        display: block;
    }

    .width-33,
    .width-66,
    .width-50,
    .width-100 {
        width: 100%;
        float: left;
    }

    .main-panel {
        width: 100%;
        float: left;
        padding-top: 20px;
        padding-bottom: 50px;
        height: auto;
    }

    .logo {
        font-size: 32px;
        font-weight: 600;
    }

    nav {
        float: none;
        text-align: center;
    }

    nav a {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    .width-50 {
        width: 100%;
    }

    .banner-section {
        width: 100%;
        float: left;
        margin-top: 10vh;
    }

    .banner-section h1 {
        font-size: 36px;
    }

    .banner-section h2 {
        font-size: 16px;
        line-height: 20px;
    }

    .banner-section a {
        margin-top: 10px;
    }

    .main-panel img {
        margin-top: 5%;
        width: 80%;
        margin-left: 10%;
    }

    .main-section {
        width: 100%;
        float: left;
        padding: 50px 0;
    }

    .width-100 {
        width: 100%;
        float: left;
    }

    .heading-text {
        font-size: 28px;
        text-align: center;
        margin-bottom: 30px;
    }

    .about-img {
        padding: 0 20px;
        margin-top: 10px;
    }

    .about-us p {
        font-size: 14px;
        margin-top: 10px;
        line-height: 20px;
    }

    table {
        font-size: 14px;
    }

    /*****SKILL SECTION*****/
.skill {
	margin-top: 30px;
	font-size: 17px;
}

.skill span {
	float: right;
}

.skill div {
	width: 100%;
	float: left;
	margin-top: 5px;
	background: #e7e7e7;
	border-radius: 10px;
}

.skill div span {
	background: #ffbf35;
	height: 5px;
	float: left;
}

div[role="progressbar"] {
	color: #ffbf35;
	margin-left: 100px;
	margin-bottom: 20px;
	width: 100px;
	;
	height: 100px;
	;
	border-radius: 50%;

	place-items: center;
	display: grid;

	--pgPercentage: var(--value);
	background: radial-gradient(closest-side, black 80%, transparent 0 99.9%, black 0),
		conic-gradient(#ffbf35 calc(var(--pgPercentage) * 1%), #ffe6af 0);

}
.width-33 {
	width: 33%;
	float: left;
}

.logo {
	font-size: 40px;
	font-weight: 600;
}

.span-col {
	color: #ffbf35;
}
.footer-sect {
	color: #b3b3b3;
}
.mt-20 {
	margin-top: 20px;
}


    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .contact-left p {
        margin-top: 20px;
    }

    .service-list {
        padding: 20px;
    }

    .service-list i {
        font-size: 36px;
        width: 50px;
        float: none;
        margin: 0 auto;
    }

    .service-list h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .service-list p {
        font-size: 14px;
        line-height: 20px;
    }

    .footer {
        padding: 20px 0;
    }

    .footer-sect,
    .footer-sect a {
        text-align: center;
        font-size: 14px;
    }

    .social-icon a i {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .grid3 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .portfolio-image {
        height: 250px;
        width: calc(120%);
        margin-bottom: 20px;
        background-size: cover;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .bold {
        font-weight: bold;
        font-size: 18px;
        color: rgb(255, 255, 255);
    }
    
    .text {
        color: rgb(255, 255, 255);
    }
    
    .text,
    .bold {
        margin: 10px 0;
    }
} 